<app-nav></app-nav>
<div class="Top">
  <a routerLink="/Publicidad">
    <img src="../../../assets/img/back.svg"
     class="Back">
  </a>

<p class="Subir-publicidad">Subir publicidad</p>
</div>

<form >
  <div class="Inactive caja1">
    <select class="Placeholder">
      <option value="0">Ubicación del banner</option>
      <option value="1">Home</option>
      <option value="2">Categoria</option>
    </select>
  </div>
  <div class="Inactive caja2">
    <select class="Placeholder">
      <option value="0">Sección</option>
      <option value="1">Opciones de Categorias</option>
      <option value="2">Detalles de Categoria</option>
    </select>
  </div>
  <div class="Las-dimensiones-debe">
      <p  >Las dimensiones deben ser de 1344  x  744 px   /   Deben pesar máximo 1MB
      </p>
      <p>
        Formato: jpg, jpeg o png
      </p>
  </div>

  <div class="imagen" >
    <p class="-arrastra-la-imagen ">ó arrastra la imagen aquí</p>
    <button routerLink="/Subir" class="subir"><p class="Botn">Subir imagen</p></button>
  </div>
  <div class="NombreBaner">
    <input class="Nbaner"
           placeholder="Nombre del banner"
           type="text">
    <div class="Line">

    </div>
  </div>

  <div class="Duracion">
    <input class="Nbaner"
           placeholder="Duracion"
           type="text">
    <div class="Line">

    </div>
  </div>

  <button class="crear"><p class="crear2"> Crear</p></button>
</form>
